In [1]:
###
# This code answer a question:
# Making a relationship between the number of contacts and campaign success
# what are the relevant points to be observed?
# By Sidon 2018
###

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
from scipy import stats
from tabulate import tabulate, tabulate_formats
from utils import Dataset
from collections import OrderedDict
%matplotlib inline

In [32]:
ds =  Dataset()
data = ds.get_data(['age', 'job', 'marital', 'education', 'balance','housing', 'y'])

In [33]:
# Copy for conveniency
data1 = data[data.housing=='yes']

In [34]:
data1

       age           job   marital  education  balance housing    y
0       58    management   married   tertiary     2143     yes   no
1       44    technician    single  secondary       29     yes   no
2       33  entrepreneur   married  secondary        2     yes   no
3       47   blue-collar   married    unknown     1506     yes   no
5       35    management   married   tertiary      231     yes   no
...    ...           ...       ...        ...      ...     ...  ...
45191   75       retired  divorced   tertiary     3810     yes  yes
45194   59    management   married   tertiary      138     yes   no
45197   36    management    single  secondary     1511     yes  yes
45199   34   blue-collar    single  secondary     1475     yes   no
45200   38    technician   married  secondary      557     yes  yes

[25130 rows x 7 columns]

In [30]:
print( tabulate(pd.DataFrame(data1.job.describe()), tablefmt='fancy_grid', headers='keys', numalign="decimal"))

╒════════╤═════════════╕
│        │ job         │
╞════════╪═════════════╡
│ count  │ 25130       │
├────────┼─────────────┤
│ unique │ 12          │
├────────┼─────────────┤
│ top    │ blue-collar │
├────────┼─────────────┤
│ freq   │ 7048        │
╘════════╧═════════════╛

In [26]:
df = pd.DataFrame(data1.age.describe())
print( tabulate(df, tablefmt='fancy_grid', headers='keys', numalign="decimal"))

╒═══════╤═════════════╕
│       │         age │
╞═══════╪═════════════╡
│ count │ 25130       │
├───────┼─────────────┤
│ mean  │    39.1753  │
├───────┼─────────────┤
│ std   │     8.92681 │
├───────┼─────────────┤
│ min   │    20       │
├───────┼─────────────┤
│ 25%   │    32       │
├───────┼─────────────┤
│ 50%   │    38       │
├───────┼─────────────┤
│ 75%   │    45       │
├───────┼─────────────┤
│ max   │    78       │
╘═══════╧═════════════╛

In [27]:
print( tabulate(pd.DataFrame(data1.marital.describe()), tablefmt='fancy_grid', headers='keys', numalign="decimal"))

╒════════╤═══════════╕
│        │ marital   │
╞════════╪═══════════╡
│ count  │ 25130     │
├────────┼───────────┤
│ unique │ 3         │
├────────┼───────────┤
│ top    │ married   │
├────────┼───────────┤
│ freq   │ 15321     │
╘════════╧═══════════╛

In [29]:
print( tabulate(pd.DataFrame(data1.education.describe()), tablefmt='fancy_grid', headers='keys', numalign="decimal"))

╒════════╤═════════════╕
│        │ education   │
╞════════╪═════════════╡
│ count  │ 25130       │
├────────┼─────────────┤
│ unique │ 4           │
├────────┼─────────────┤
│ top    │ secondary   │
├────────┼─────────────┤
│ freq   │ 14038       │
╘════════╧═════════════╛

In [35]:
print( tabulate(pd.DataFrame(data1.balance.describe()), tablefmt='fancy_grid', headers='keys', numalign="decimal"))

╒═══════╤═══════════╕
│       │   balance │
╞═══════╪═══════════╡
│ count │  25130    │
├───────┼───────────┤
│ mean  │   1175.1  │
├───────┼───────────┤
│ std   │   2483.29 │
├───────┼───────────┤
│ min   │  -4057    │
├───────┼───────────┤
│ 25%   │     62    │
├───────┼───────────┤
│ 50%   │    412    │
├───────┼───────────┤
│ 75%   │   1257.75 │
├───────┼───────────┤
│ max   │  58544    │
╘═══════╧═══════════╛

In [31]:
print( tabulate(pd.DataFrame(data1.y.describe()), tablefmt='fancy_grid', headers='keys', numalign="decimal"))

╒════════╤═══════╕
│        │ y     │
╞════════╪═══════╡
│ count  │ 25130 │
├────────┼───────┤
│ unique │ 2     │
├────────┼───────┤
│ top    │ no    │
├────────┼───────┤
│ freq   │ 23195 │
╘════════╧═══════╛