In [1]:
###
# This code answer a question:
# Has the result of the previous campaign some relevancy in the current campaign?
# By Sidon 2018
###

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
from scipy import stats
from tabulate import tabulate, tabulate_formats
from utils import Dataset
%matplotlib inline

In [3]:
ds =  Dataset()
data = ds.get_data(['poutcome','y'])

In [4]:
data1 = data.copy()

In [5]:
data1

      poutcome    y
0      unknown   no
1      unknown   no
2      unknown   no
3      unknown   no
4      unknown   no
...        ...  ...
45206  unknown  yes
45207  unknown  yes
45208  success  yes
45209  unknown   no
45210    other   no

[45211 rows x 2 columns]

In [17]:
g1 = data1.groupby('y')['poutcome'].value_counts().unstack().fillna(0).T
g1['success%']=g1.yes/(g1.yes+g1.no)
g1 = g1.sort_values(by=['success%'], ascending=False)
print('Rate of success related to previous result ')
print(tabulate(g1, tablefmt='fancy_grid', headers='keys', numalign="decimal"))

Rate of success related to previous result
╒════════════╤═══════╤═══════╤════════════╕
│ poutcome   │    no │   yes │   success% │
╞════════════╪═══════╪═══════╪════════════╡
│ success    │   533 │   978 │   0.647253 │
├────────────┼───────┼───────┼────────────┤
│ other      │  1533 │   307 │   0.166848 │
├────────────┼───────┼───────┼────────────┤
│ failure    │  4283 │   618 │   0.126097 │
├────────────┼───────┼───────┼────────────┤
│ unknown    │ 33573 │  3386 │   0.091615 │
╘════════════╧═══════╧═══════╧════════════╛