In [1]:
###
# This code answer a question:
# Making a relationship between the number of contacts and campaign success
# what are the relevant points to be observed?
# By Sidon 2018
###

In [2]:
import pandas as pd
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn
from utils import Dataset

%matplotlib inline

In [3]:
ds =  Dataset()
data = ds.get_data(['campaign','previous','y'])

# check null value
print(data.campaign.isnull().sum(), data.previous.isnull().sum(), data.y.isnull().sum())

0 0 0

In [4]:
# Copy data
data1 = data.copy()

In [5]:
# check null value
# print(data.tt_contacts.isnull().sum())

In [6]:
# Inserir coluna para totalizar os contatos realizados
tt_contacts = data.campaign+data['previous'] 
data.insert(loc=2, column='tt_contacts', value=tt_contacts)

In [7]:
data1 = data.copy()

In [8]:
# Normalize
data1.tt_contacts = data1.tt_contacts / data1.tt_contacts.max()

In [9]:
data1

       campaign  previous  tt_contacts    y
0             1         0     0.003610   no
1             1         0     0.003610   no
2             1         0     0.003610   no
3             1         0     0.003610   no
4             1         0     0.003610   no
...         ...       ...          ...  ...
45206         3         0     0.010830  yes
45207         2         0     0.007220  yes
45208         5         3     0.028881  yes
45209         4         0     0.014440   no
45210         2        11     0.046931   no

[45211 rows x 4 columns]

In [15]:
qs = [.2, .4, .6, .8, 1]
data1.tt_contacts = pd.qcut(data['tt_contacts'],qs)
data1.tt_contacts.astype('category')

0        (0.999, 2.0]
1        (0.999, 2.0]
2        (0.999, 2.0]
3        (0.999, 2.0]
4        (0.999, 2.0]
             ...
45206      (2.0, 3.0]
45207    (0.999, 2.0]
45208    (5.0, 277.0]
45209      (3.0, 5.0]
45210    (5.0, 277.0]
Name: tt_contacts, Length: 45211, dtype: category
Categories (4, interval[float64]): [(0.999, 2.0] < (2.0, 3.0] < (3.0, 5.0] < (5.0, 277.0]]

In [11]:
# check null value
print(data.tt_contacts.isnull().sum())

0

In [12]:
data1.y.astype('category')

In [16]:
# Frequency number of contacts x success
ct1 = pd.crosstab(data1.y, data1.tt_contacts)

In [17]:
ct1.

tt_contacts  (0.999, 2.0]  (2.0, 3.0]  (3.0, 5.0]  (5.0, 277.0]
y
no                  22519        5644        6021          5738
yes                  2770         805         912           802

In [18]:
data1.tt_contacts.value_counts()

(0.999, 2.0]    25289
(3.0, 5.0]       6933
(5.0, 277.0]     6540
(2.0, 3.0]       6449
Name: tt_contacts, dtype: int64